<?xml version="1.0"?>
<config>
	<modules>
		<Hans2103_FixCacheBlockHtml>
			<version>1.0</version>
		</Hans2103_FixCacheBlockHtml>
	</modules>
	<global>
      <models>
        <catalogrule>
          <rewrite>
	        <rule>Hans2103_FixCacheBlockHtml_Model_Rule</rule>
          </rewrite>
        </catalogrule>
      </models>
    </global>
</config>
